{% extends "base.html" %}
{% block content %}

<!-- <h2>Create Task</h2> -->

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

{% if users %}
<form method="post">
    {% csrf_token %}

    <label>Title</label><br>
    <input name="title" required><br><br>

    <label>Description</label><br>
    <textarea name="description"></textarea><br><br>

    <label>Assign To</label><br>
    <select name="user" required>
        {% for u in users %}
            <option value="{{ u.id }}">{{ u.username }}</option>
        {% endfor %}
    </select><br><br>

    <label>Due Date</label><br>
    <input type="date" name="due_date"><br><br>

    <button type="submit">Create Task</button>
</form>
{% else %}
<p style="color:red;">
    No users assigned to you yet.<br>
    Ask SuperAdmin to assign users to this Admin.
</p>
{% endif %}

<a href="/admin-panel/tasks/">Back</a>

{% endblock %}
